.order-view{
   display: flex;
   justify-content: space-around;
}
label{
    display: block;
    margin: 0;
    margin-top: 10px;
}
.edit, .view{
    box-shadow: 0 0 1px gray;
    padding: 20px;
    width: 50%;
}
.profile{
    margin-top: 20px;
}
.profile>div{
    display: flex;
    justify-content: space-between;
}
.profile>div>div{
    padding:0 5px;    
}
.profile>div>div>input{
    width: 100%;
    margin: 5px 10px;
    margin-left: 0;
    box-shadow: 0 0 2px gray;
    border: none;
    border-radius: 2px;
    padding: 5px;
}
.profile>div>select{
    width: 100%;
    margin: 10px 0;
    box-shadow: 0 0 2px gray;
    border: none;
    border-radius: 2px;
    padding: 7px 5px;
}
.profile>div>input[type=submit]{
    width: 100%;
    margin: 10px 0;
    box-shadow: 0 0 2px gray;
    border: none;
    border-radius: 2px;
    padding: 7px 5px;
}


.view{
    display: flex;
    justify-content: space-between;
    padding: 80px;
}
.view>.view-content{
    width: 65%;
    margin-top:20px;
}
.view>.view-content>h3{
    margin: 0;
    padding: 0;
}
.view>.view-content>h6,p{
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    padding: 0;
}
.view>.view-content>p{
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}
.view>.view-img{
    width: 35%;
}
.view>.view-img>img{
    margin-top: 30px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.top_search{
    padding: 0 20px;
}
.top_search>form>input{
    box-shadow: 0 0 2px gray;
    border: none;
    border-radius: 2px;
    padding: 5px;
    outline: none;
}
.top_search>form>button{
    box-shadow: 0 0 2px gray;
    border: none;
    border-radius: 2px;
    padding: 5px;
}
.top_search>form>button:hover{
    background: rgb(255, 231, 231);
}